<template>

    <div ref="myDraggable" class="draggable-countries"></div>

</template>

<script>
import interact from "interactjs";

export default {
    // name: "Draggable",
    data() {
        return {
            screenX: 0,
            screenY: 0,
        };
    },
    mounted: function () {
        let myDraggable = this.$refs.myDraggable;
        // const parentNode = myDraggable.parentNode;
        // console.log(parentNode.getScreenCTM());
        this.initInteract(myDraggable);
        // this.initInteract(".godragit");
    },
    methods: {
        initInteract (selector) {
            interact(selector).draggable({
                // enable inertial throwing
                // inertia: true,
                // keep the element within the area of it's parent
                restrict: {
                    restriction: "parent",
                    endOnly: true,
                    elementRect: { top: 0, left: 0, bottom: 1, right: 1 },
                },
                // autoScroll: true, // enable autoScroll
                onmove: this.dragMoveListener, // call this function on every dragmove event
                // onend: this.onDragEnd, // call this function on every dragend event
            });
        },
        dragMoveListener (event) {
            const target = event.target;
            // keep the dragged position in the data-x/data-y attributes
            let x = (parseFloat(target.getAttribute("data-x")) || this.screenX) + event.dx; 
            let y = (parseFloat(target.getAttribute("data-y")) || this.screenY) + event.dy;

            const svg_map = target.parentNode.parentNode;

            let point = svg_map.createSVGPoint();
            point.x = event.clientX - 50;
            point.y = event.clientY - 35;
            point = point.matrixTransform(svg_map.getScreenCTM().inverse())
            // // this.coordinateTransform(myDraggable.svg_map, svg_map)

            // console.log(event);
            // console.log("x: ", x);
            // console.log("y: ", y);
            // console.log("point x: ", point.x);
            // console.log("point y: ", point.y);
            // console.log("this.screenX: ", this.screenX);
            // console.log("this.screenY: ", this.screenY);


            // translate the element
            target.style.webkitTransform = target.style.transform = "translate(" + point.x + "px, " + point.y + "px)";

            // update the posiion attributes
            target.setAttribute("data-x", x);
            target.setAttribute("data-y", y);

        },
        onDragEnd (event) {
            const target = event.target;
            // console.log(target);
            // update the state
            this.screenX = target.getBoundingClientRect().left;
            this.screenY = target.getBoundingClientRect().top;
        },
        // coordinateTransform(screenPoint, someSvgObject) {
        //     const CTM = someSvgObject.getScreenCTM();
        //     return screenPoint.matrixTransform( CTM.inverse() );
        // }
    },
};
</script>






<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.draggable-countries {
    width: 30px;
    height: 22px;
    /* background-color: teal; */
    /* color: #fff; */
    /* padding: 5px; */
    position: absolute;
    img {
        width: 100%;
    }
}
</style>
