
{# Container principal #}
<div class="">

    <header role="banner">
        {{ page.header }}
    </header>


    <div class="">
        {{ page.content }}
    </div>


    {% if page.footer %}
        <footer role="contentinfo">
            {{ page.footer }}
        </footer>
    {% endif %}

</div>
