<div>
    <div id="app"></div>
    {# {% include '@thales/areas/Africa.html.twig' %} #}
</div>


{#{{ attach_library('thales/vue') }}#}
{{ attach_library('thales/app-front') }}

<style>
.area-map {
    /* padding: 0 12rem; */
}

.countries-map-data { display: none; }

#app { position: relative; }

foreignObject{
    width: 100%;
    height: 100%;
}
</style>