{#
/**
 * Available variables:
 * - x_value: The x value.
 * - y_value: The y value.
 *
 * @see template_preprocess()
 * @ingroup themeable
 */
#}

<script>
window.addEventListener("load", function(event) {
    const marker_position = document.getElementById("marker-position");
    const map_svg = document.querySelector(".map_svg")
    const x_input = document.querySelector("#edit-field-map-position-expert-0-x-value")
    const y_input = document.querySelector("#edit-field-map-position-expert-0-y-value")

    marker_position.setAttribute("transform", "translate(" + x_input.value + " " + y_input.value + ")");

    map_svg.addEventListener("click", (evt) => {
        // let dim = evt.target.getBoundingClientRect();
        // let x = evt.clientX - dim.left;
        // let y = evt.clientY - dim.top;
        // x_input.value = x;
        // y_input.value = y;
        // marker_position.style.transform = "translate(" + x + "px, " + y + "px)"
        // marker_position.setAttribute("transform", "translate(" + x + " " + y + ")")

        let point = map_svg.createSVGPoint();
        const _clientX = evt.clientX;
        const _clientY = evt.clientY;

        point.x = _clientX;
        point.y = _clientY;
        point = point.matrixTransform(map_svg.getScreenCTM().inverse())

        x_input.value = point.x;
        y_input.value = point.y;
        marker_position.setAttribute("transform", "translate(" + point.x + " " + point.y + ")")
    })

});


</script>

<style>
    .map_svg { position: relative; }
    path {
      fill: #00b3d8;
      stroke: #00b3d8;
    }
</style>

<div>
    <svg class="map_svg" version="1.1" id="_x39__ZONES" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" xmlns:mapsvg="https://mapsvg.com" mapsvg:geoViewBox="1.409450 42.654907 1.786860 42.426982" y="0px" viewBox="0 0 1000 680" style="enable-background:new 0 0 1000 680;" xml:space="preserve">
        <path id="Zone_7_Oceania" style="&st0;" d="M807.1,472.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S805.3,472.7,807.1,472.7z M833.5,461.3c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S831.7,461.3,833.5,461.3z
         M857.9,446c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S856.1,446,857.9,446z M868.8,432.3c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S867,432.3,868.8,432.3z M889.2,432c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S887.4,432,889.2,432z M885.4,448.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S883.6,448.6,885.4,448.6z M899.9,459
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S898.1,459,899.9,459z M877.4,470.8c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S875.6,470.8,877.4,470.8z M848,485.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S846.2,485.7,848,485.7z M814.3,496.4c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S812.5,496.4,814.3,496.4z
         M831.2,522.1c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S829.4,522.1,831.2,522.1z M804.1,522.3
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S802.3,522.3,804.1,522.3z M861.3,513.3c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S859.5,513.3,861.3,513.3z M869,530.8c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S867.2,530.8,869,530.8z M914.1,528c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S912.3,528,914.1,528z M891.2,543.3
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S889.4,543.3,891.2,543.3z M883.3,559.4c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S881.5,559.4,883.3,559.4z M940.1,573.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S938.3,573.7,940.1,573.7z M984.9,526.4c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S983.1,526.4,984.9,526.4z M996.7,539.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S994.9,539.7,996.7,539.7z
         M976.8,555.4c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S975,555.4,976.8,555.4z M911,430.8c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S909.2,430.8,911,430.8z M924.8,465.1c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S923,465.1,924.8,465.1z M936.6,492.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S934.8,492.9,936.6,492.9z
         M904.5,491.3c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S902.7,491.3,904.5,491.3z M807.1,476l-3,49.6 M807.1,476
        l40.9,13 M857.9,449.3L848,489 M857.9,449.3l-24.4,15.3 M848,489l-14.5-24.4 M848,489l-43.9,36.6 M831.2,525.4l-16.9-25.7
         M831.2,525.4l-27.1,0.2 M831.2,525.4l30.1-8.8 M904.5,494.6l-43.2,22 M904.5,494.6l6.8-60.4 M899.9,462.3l11.4-28.1 M899.9,462.3
        l-14.5-10.4 M868.8,435.6l16.6,16.3 M868.8,435.6l8.6,38.5 M868.8,435.6l-10.9,13.7 M877.4,474.1l-19.5-24.8 M877.4,474.1l8-22.2
         M889.2,435.3l-3.8,16.6 M889.2,435.3l-20.2,0.1 M877.4,474.1l22.5-11.8 M877.4,474.1L848,489 M831.2,525.4L848,489 M861.6,516.6
        l-47.3-16.9 M861.6,516.6L848,489 M904.5,494.6L848,489 M877.4,474.1l-15.8,42.5 M848,489l66.1,42.3 M936.6,496.2l-22.5,35.1
         M936.6,496.2l-32.1-1.6 M936.6,496.2l-36.7-33.9 M904.5,494.6l-4.6-32.3 M924.8,468.4l-24.9-6.1 M924.8,468.4l11.8,27.8
         M904.5,494.6l9.6,36.7 M904.5,494.6L869,534.1 M861.2,516.7l7.8,17.4 M891.2,546.6L869,534.1 M914.1,531.3l-45.1,2.8 M914.1,531.3
        l-22.9,15.3 M914.1,531.3l-30.8,31.4 M891.2,546.6l-7.9,16.1 M984.9,529.7L940.1,577 M996.7,543l-56.6,34 M996.7,543l-19.9,15.7
         M984.9,529.7l-8.1,29 M984.9,529.7l11.8,13.3"/>
        <path id="Zone_6_Far_east" style="&st0;" d="M809.6,396.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S807.8,396.6,809.6,396.6z M795.3,411.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S793.5,411.6,795.3,411.6z
         M842,425.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S840.2,425.7,842,425.7z M859.8,417.4c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S858,417.4,859.8,417.4z M776.9,403.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S775.1,403.6,776.9,403.6z M790.6,395c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S788.8,395,790.6,395z M780.6,377
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S778.8,377,780.6,377z M764.3,356.3c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S762.5,356.3,764.3,356.3z M755.2,363c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S753.4,363,755.2,363z M800.1,378.5c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S798.3,378.5,800.1,378.5z
         M827.3,356.3c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S825.5,356.3,827.3,356.3z M826.9,390.2
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S825.1,390.2,826.9,390.2z M847.9,403.2c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S846.1,403.2,847.9,403.2z M854.8,379.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S853,379.7,854.8,379.7z M887.3,389.4c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S885.5,389.4,887.3,389.4z M929.6,406.5c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S927.8,406.5,929.6,406.5z
         M932.9,423.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S931.1,423.9,932.9,423.9z M903.6,418.5
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S901.8,418.5,903.6,418.5z M851.8,359.9c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S850,359.9,851.8,359.9z M856,336.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S854.2,336.9,856,336.9z M837.6,309.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S835.8,309.6,837.6,309.6z
         M834.3,328.3c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S832.5,328.3,834.3,328.3z M798.2,335.3
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S796.4,335.3,798.2,335.3z M787.7,314.9c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S785.9,314.9,787.7,314.9z M758.2,317.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S756.4,317.6,758.2,317.6z M743.5,311.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S741.7,311.9,743.5,311.9z M789.8,300.1c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S788,300.1,789.8,300.1z
         M823.1,287.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S821.3,287.7,823.1,287.7z M772.9,249.2
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S771.1,249.2,772.9,249.2z M716,247.9c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S714.2,247.9,716,247.9z M804.8,223.4c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S803,223.4,804.8,223.4z M844.6,212.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S842.8,212.6,844.6,212.6z
         M826.4,226.8c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S824.6,226.8,826.4,226.8z M840.8,246.5
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S839,246.5,840.8,246.5z M853.2,243.6c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S851.4,243.6,853.2,243.6z M883.5,205.5c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S881.7,205.5,883.5,205.5z M862.1,190.8c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S860.3,190.8,862.1,190.8z M870.9,230.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S869.1,230.2,870.9,230.2z
         M882.3,242.5c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S880.5,242.5,882.3,242.5z M855.7,258.8
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S853.9,258.8,855.7,258.8z M830.2,254.9c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S828.4,254.9,830.2,254.9z M827.1,393.4l-17.5,6.5 M827.1,393.4l27.7-10.4 M847.9,406.5l6.9-23.5
         M903.6,421.8L854.8,383 M887.3,392.7l-32.5-9.7 M887.3,392.7l16.3,29.1 M887.3,392.7l42.3,17.1 M903.6,421.8l26-12 M903.6,421.8
        l29.3,5.4 M887.3,392.7l45.6,34.5 M929.6,409.8l3.3,17.4 M827.5,359.6l20.4,46.9 M827.5,359.6l-17.9,40.3 M847.9,406.5l-38.3-6.6
         M847.9,406.5l-20.8-13.1 M800.1,381.8l27,11.6 M800.1,381.8l9.8,18.1 M780.6,380.3l29.3,19.6 M780.6,380.3l67.3,26.2 M780.6,380.3
        l46.9-20.7 M780.6,380.3l-16.3-20.7 M798.2,338.6l-33.9,21 M798.2,338.6l-17.6,41.7 M798.2,338.6l-29.5-4 M764.3,359.6l4.4-25
         M764.3,359.6l-6.1-38.7 M798.2,338.6l-40-17.7 M768.7,334.6l-10.5-13.7 M791,302.2l-32.8,18.7 M787.7,318.2l-29.5,2.7 M787.7,318.2
        l3.3-16 M790.6,398.3l-35.4-32 M776.9,406.9l-21.7-40.6 M776.9,406.9l3.7-26.6 M776.9,406.9l18.4,8 M842,429l-46.7-14.1 M842,429
        l17.8-8.3 M795.3,414.9l64.5,5.8 M834.3,331.6l-24.7,67.9 M795.3,414.9l14.3-15.4 M795.3,414.9l-14.7-34.6 M776.9,406.9l13.7-8.6
         M837.6,312.9l-10.1,46.7 M837.6,312.9l14.2,50.3 M837.6,312.9l18.4,27.3 M851.8,363.2l4.2-23 M834.3,331.6l21.7,8.6 M743.5,315.4
        l44.2,2.8 M743.5,315.4l-11.5-20 M716,251.2l16,44.2 M716,251.2l16.9-42.7 M772.9,252.5l-40-44 M772.9,252.5l-56.9-1.3 M789.8,303.4
        L716,251.2 M789.8,303.4l-57-7.9 M787.7,318.2l-54.9-22.7 M789.8,303.4l40.4-45.2 M772.9,252.5l57.3,5.7 M772.9,252.5l50.2,38.3
         M772.9,252.5l16.9,50.9 M823.1,291l-33.3,12.4 M823.1,291l7.1-32.8 M804.8,226.7l25.4,31.5 M804.8,226.7l18.4,63.7 M804.8,226.7
        l-31.9,25.8 M826.4,230.1l-53.5,22.4 M826.4,230.1l-21.6-3.4 M826.4,230.1l14.4,19.7 M826.4,230.1l18.2-14.2 M840.8,249.8l3.8-33.9
         M853.2,246.9l17.7-13.4 M853.2,246.9l2.5,15.2 M853.2,246.9l30.3-38.1 M862.1,194.1l21.4,14.7 M862.1,194.1l8.8,39.4 M862.1,194.1
        l20.2,51.7 M883.5,208.8l-1.2,37 M883.5,208.8l-27.8,53.3 M853.2,246.9l29.1-1.1"/>
        <path id="Zone_5_South_Asia" style="&st0;" d="M637.6,237.4c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S635.8,237.4,637.6,237.4z M613.4,273.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S611.6,273.9,613.4,273.9z
         M652.4,279.1c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S650.6,279.1,652.4,279.1z M716,247.9c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S714.2,247.9,716,247.9z M733.6,292.5c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S731.8,292.5,733.6,292.5z M674.3,289c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S672.5,289,674.3,289z M676.2,313.1
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S674.4,313.1,676.2,313.1z M701.4,318.7c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S699.6,318.7,701.4,318.7z M693.9,348.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S692.1,348.9,693.9,348.9z M708.9,359.5c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S707.1,359.5,708.9,359.5z M652.5,282.4l-14.9-42 M652.5,282.4l79.9-73.6 M716,251.2l16.4-42.4 M716,251.2L701.4,322 M693.9,352.2
        l7.5-30.2 M693.9,352.2l15,10.6 M701.4,322l7.5,40.8 M701.4,322l32.2-26.2 M674.3,292.3l59.3,3.5 M674.3,292.3l1.9,24.1
         M693.9,352.2l-17.7-35.8 M701.4,322l-25.2-5.6 M716,251.2l-39.8,65.2 M674.3,292.3l27.1,29.7 M652.5,282.4l63.5-31.2 M652.5,282.4
        l-39.1-5.2 M637.6,240.7l-24.2,36.5"/>
        <path id="Zone_2_Commonwealth_of_Independent_States" style="&st0;" d="M819.2,164.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S817.4,164.2,819.2,164.2z M781.6,199.4c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S779.8,199.4,781.6,199.4z M758.7,163c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S756.9,163,758.7,163z M706.2,139.8
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S704.4,139.8,706.2,139.8z M705.6,181.3c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S703.8,181.3,705.6,181.3z M732.4,205.5c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S730.6,205.5,732.4,205.5z M659.7,203.5c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S657.9,203.5,659.7,203.5z M851.2,175.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S849.4,175.9,851.2,175.9z
         M685.8,111.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S684,111.9,685.8,111.9z M648.1,134.8c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S646.3,134.8,648.1,134.8z M629.5,99c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S627.7,99,629.5,99z M606.6,96.8c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S604.8,96.8,606.6,96.8z M698.1,86.8
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S696.3,86.8,698.1,86.8z M653.6,86.8c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S651.8,86.8,653.6,86.8z M729.6,99.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S727.8,99.7,729.6,99.7z M752.4,105.4c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S750.6,105.4,752.4,105.4z
         M783.2,98.3c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S781.4,98.3,783.2,98.3z M786.5,128.2c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S784.7,128.2,786.5,128.2z M817.9,105.4c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S816.1,105.4,817.9,105.4z M825.7,144.1c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S823.9,144.1,825.7,144.1z M864.9,110.1c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S863.1,110.1,864.9,110.1z
         M861.4,132.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S859.6,132.9,861.4,132.9z M855.1,147c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S853.3,147,855.1,147z M876.4,134.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S874.6,134.9,876.4,134.9z M904.7,122.4c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S902.9,122.4,904.7,122.4z
         M921.6,113.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S919.8,113.9,921.6,113.9z M910.3,134.3
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S908.5,134.3,910.3,134.3z M886.2,147c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S884.4,147,886.2,147z M872.6,159.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S870.8,159.2,872.6,159.2z M891.4,180.8c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S889.6,180.8,891.4,180.8z
         M758.7,166.3l14.2,86.2 M819.2,167.5l-14.4,59.2 M819.2,167.5l7.5,62.4 M819.2,167.5l25.4,48.4 M819.2,167.5l32,11.7 M844.6,215.9
        l6.6-36.7 M844.6,215.9l-63-13.2 M804.8,226.7l-23.2-24 M772.9,252.5l8.7-49.8 M758.7,166.3l22.9,36.4 M804.8,226.7l21.6,3.4
         M804.8,226.7l39.8-10.8 M706.2,143.1l26.2,65.7 M706.2,143.1l-0.6,41.5 M732.4,208.8l-26.8-24.2 M637.6,240.4l68-55.8 M637.6,240.4
        l22.1-33.6 M705.6,184.6l-45.9,22.2 M685.8,115.2l-37.7,22.9 M685.8,115.2l-32.2-25.1 M698.1,90.1h-44.5 M698.1,90.1l31.5,12.9
         M752.4,108.7l-22.8-5.7 M752.4,108.7l30.8-7.1 M729.6,103l53.6-1.4 M817.9,108.7l-34.7-7.1 M817.9,108.7l47,4.7 M921.6,117.2
        l-56.7-3.8 M921.6,117.2l-16.9,8.5 M864.9,113.4l39.8,12.3 M876.4,138.3l28.3-12.6 M876.4,138.3l33.9-0.7 M904.7,125.7l5.6,11.9
         M864.9,113.4l11.5,24.9 M864.9,113.4l-3.5,22.8 M855.1,150.3l6.3-14.1 M876.4,138.3l-15-2.1 M876.4,138.3l-3.8,24.2 M886.2,150.3
        l-13.6,12.2 M886.2,150.3l5.2,33.8 M872.6,162.5l18.8,21.6 M855.1,150.3l-29.4-2.9 M861.4,136.2l-35.7,11.2 M817.9,108.7l7.8,38.7
         M817.9,108.7l43.5,27.5 M783.2,101.6l42.5,45.8 M783.2,101.6l3.3,29.9 M825.7,147.4l-39.2-15.9 M819.2,167.5l-32.7-36 M819.2,167.5
        l6.5-20.1 M758.7,166.3l27.8-34.8 M758.7,166.3l24.5-64.7 M758.7,166.3l-6.3-57.6 M758.7,166.3l-72.9-51.1 M752.4,108.7l-66.6,6.5
         M698.1,90.1l-12.3,25.1 M698.1,90.1l8.1,53 M729.6,103l-23.4,40.1 M758.7,166.3l-52.5-23.2 M592.4,156.4l113.8-13.3 M592.4,156.4
        l55.7-18.3 M592.4,156.4l166.3,9.9 M592.4,156.4l15.9-38.6 M648.1,138.1l-39.8-20.3 M648.1,138.1l-41.5-38 M568.9,115.7l37.7-15.6
         M629.5,102.3l-22.9-2.2 M629.5,102.3l-60.6,13.4 M606.6,100.1l1.7,17.7 M648.1,138.1l11.6,68.7 M685.8,115.2l-26.1,91.6"/>
        <path id="Zone_3_Western_Asia" style="&st0;" d="M633.2,169.5c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S631.4,169.5,633.2,169.5z M637.3,237.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S635.5,237.2,637.3,237.2z
         M610.6,237.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S608.8,237.2,610.6,237.2z M597.4,211.8
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S595.6,211.8,597.4,211.8z M600,189c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S598.2,189,600,189z M592.4,153.1c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S590.6,153.1,592.4,153.1z M558,165.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S556.2,165.7,558,165.7z
         M567.3,214.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S565.5,214.2,567.3,214.2z M586.9,228.5
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S585.1,228.5,586.9,228.5z M548.9,234.2c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S547.1,234.2,548.9,234.2z M522.8,236c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S521,236,522.8,236z M571.8,251.1c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S570,251.1,571.8,251.1z M547.5,255.2
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S545.7,255.2,547.5,255.2z M543.1,268.1c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S541.3,268.1,543.1,268.1z M555.8,281.1c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S554,281.1,555.8,281.1z M590.2,261.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S588.4,261.9,590.2,261.9z M600.5,284.8c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S598.7,284.8,600.5,284.8z
         M622.6,290.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S620.8,290.2,622.6,290.2z M609.1,321c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S607.3,321,609.1,321z M576.2,313.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S574.4,313.7,576.2,313.7z M592.4,156.4l40.8,16.4 M592.4,156.4L558,169 M600,192.3L558,169 M600,192.3l-7.6-35.9 M577.4,203.2
        l15-46.8 M577.4,203.2l55.8-30.4 M592.4,156.4l44.9,84.1 M633.2,172.8l4.1,67.7 M597.4,215.1l39.9,25.4 M597.4,215.1l13,25.7
         M637.3,240.5l-26.9,0.3 M597.4,215.1l35.8-42.3 M597.4,215.1l2.6-22.8 M586.9,231.8l-19.6-14.3 M586.9,231.8l26.3,45.4
         M586.9,231.8l3.3,33.4 M613.2,277.2l-23-12 M600.5,288.1l-10.3-22.9 M600.5,288.1l22.9,5.4 M609.1,324.3l14.3-30.8 M609.1,324.3
        l-8.6-36.2 M576.2,317l24.3-28.9 M576.2,317l32.9,7.3 M579.9,336.7l29.2-12.4 M579.9,336.7l-3.7-19.7 M555.8,284.4l20.4,32.6
         M555.8,284.4l44.7,3.7 M571.8,254.4l28.7,33.7 M571.8,254.4l-16,30 M571.8,254.4l-28.7,17 M555.8,284.4l-12.7-13 M526.9,261.4
        l16.2,10 M526.9,261.4l20.6-2.9 M543.1,271.4l4.4-12.9 M548.9,237.5l-1.4,21 M571.8,254.4l-24.3,4.1 M571.8,254.4l-22.9-16.9
         M571.8,254.4l-4.5-36.9 M571.8,254.4l15.1-22.6 M548.9,237.5l18.4-20 M548.9,237.5l-7.9-18.2 M548.9,237.5l-26.1,1.8 M590.2,265.2
        l-18.4-10.8 M577.5,200.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S575.7,200.7,577.5,200.7z M552,192.1
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S550.2,192.1,552,192.1z M540.7,202.4c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S538.9,202.4,540.7,202.4z M529.2,194.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S527.4,194.9,529.2,194.9z M541,216c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S539.2,216,541,216z
         M586.4,232.2l-8.9-28.2 M567.3,217l10.2-13 M567.3,217L552,195.4 M577.5,204l-25.5-8.6 M540.7,205.7l11.3-10.3 M540.7,205.7
        l-11.5-7.5 M552,195.4l-22.8,2.8 M529.2,198.2L515,219.5 M541,219.3l-26,0.2 M541,219.3l-18.7,21.1 M515,219.5l7.3,20.9
         M529.2,198.2l29.1-29.8 M552,195.4l6.3-27 M567.3,217l19.1,15.2"/>
        <path id="Zone_1_Europe" style="&st0;" d="M427.4,147.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S425.6,147.2,427.4,147.2z M407.5,173.3c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S405.7,173.3,407.5,173.3z
         M427.2,167.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S425.4,167.2,427.2,167.2z M426.1,177.8
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S424.3,177.8,426.1,177.8z M440.5,171.3c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S438.7,171.3,440.5,171.3z M425.4,189c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S423.6,189,425.4,189z M449.1,178.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S447.3,178.6,449.1,178.6z
         M492.5,169.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S490.7,169.2,492.5,169.2z M500,191.7c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S498.2,191.7,500,191.7z M478.6,199.1c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S476.8,199.1,478.6,199.1z M464.8,201.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S463,201.6,464.8,201.6z
         M479.5,217.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S477.7,217.9,479.5,217.9z M492.5,219.5
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S490.7,219.5,492.5,219.5z M476.2,232.7c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S474.4,232.7,476.2,232.7z M445.1,206.5c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S443.3,206.5,445.1,206.5z M433.2,229.5c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S431.4,229.5,433.2,229.5z M407.6,229.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S405.8,229.2,407.6,229.2z
         M408.3,207.8c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S406.5,207.8,408.3,207.8z M431.3,208.1
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S429.5,208.1,431.3,208.1z M528.3,107.4c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S526.5,107.4,528.3,107.4z M534.4,129.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S532.6,129.7,534.4,129.7z M503.3,123.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S501.5,123.2,503.3,123.2z M490.1,107.4c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S488.3,107.4,490.1,107.4z
         M471.1,128.3c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S469.3,128.3,471.1,128.3z M483.6,136.8
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S481.8,136.8,483.6,136.8z M498,138.8c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S496.2,138.8,498,138.8z M516.9,143.3c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S515.1,143.3,516.9,143.3z M483,156.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S481.2,156.2,483,156.2z
         M468.4,146.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S466.6,146.6,468.4,146.6z M449.6,139.3
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S447.8,139.3,449.6,139.3z M465.1,165.5c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S463.3,165.5,465.1,165.5z M502,217c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S500.2,217,502,217z M504.5,233.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S502.7,233.6,504.5,233.6z M521.2,174
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S519.4,174,521.2,174z M500.5,153.8c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S498.7,153.8,500.5,153.8z M541.6,149.8c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S539.8,149.8,541.6,149.8z M568.3,112.1c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S566.5,112.1,568.3,112.1z M609,114.4c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S607.2,114.4,609,114.4z
         M440.5,174.6l-13.1-24.1 M407.5,176.6l19.9-26.1 M407.5,176.6l19.7-6.1 M427.4,150.5l-0.2,20 M440.5,174.6l-13.3-4.1 M426.1,181.1
        l1.1-10.6 M426.1,181.1l14.4-6.5 M445.1,209.8l-4.6-35.2 M445.1,209.8l-19.7-17.5 M449.1,181.9l-23.7,10.4 M449.1,181.9l16.4-13
         M478.6,202.4l-13.1-33.5 M500,195l-34.5-26.1 M492.5,172.5l-27-3.6 M492.5,172.5L500,195 M465.5,168.9l-0.7,36 M465.5,168.9
        l-20.4,40.9 M449.1,181.9l-4,27.9 M449.1,181.9l-8.6-7.3 M449.1,181.9l29.5,20.5 M464.8,204.9l13.8-2.5 M464.8,204.9l-19.7,4.9
         M464.8,204.9l14.7,16.3 M478.6,202.4l0.9,18.8 M492.5,222.8l-13-1.6 M492.5,222.8L476.2,236 M479.5,221.2l-3.3,14.8 M445.1,209.8
        l-11.9,23 M407.6,232.5l25.6,0.3 M407.6,232.5l23.7-21.1 M407.6,232.5l0.7-21.4 M431.3,211.4l-23-0.3 M431.3,211.4l1.9,21.4
         M407.6,232.5l37.5-23 M528.3,110.7l6.7,22.2 M503.3,126.5l31.7,6.4 M503.3,126.5l25-15.8 M503.3,126.5l-13.2-15.8 M528.3,110.7
        h-38.2 M484.2,139.8l5.9-29.1 M471.1,131.6l19-20.9 M471.1,131.6l-21.5,11 M468.4,150l-18.8-7.4 M468.4,150l15.2-9.9 M503.3,126.5
        l-19.7,13.6 M503.3,126.5l-5.3,15.6 M503.3,126.5l13.6,20.1 M498,142.1l18.9,4.5 M471.1,131.6l32.2-5.1 M471.1,131.6l-2.7,18.4
         M483.2,159.7l-14.8-9.7 M483.2,159.7l0.4-19.6 M465.1,168.8l18.5-28.7 M465.1,168.8l18.1-9.1 M499.9,194.9l29.3,3.3 M499.9,194.9
        l15.1,24.6 M499.9,194.9l2.1,25.4 M515,219.5l-13,0.8 M504.5,236.9l-2.5-16.6 M504.5,236.9l10.5-17.4 M478.5,202.2l23.5,18.1
         M478.5,202.2l21.4-7.3 M516.8,146.6l-16.9,48.3 M500.5,157.1l-0.6,37.8 M500.5,157.1l16.3-10.5 M521.2,177.3l-4.4-30.7
         M541.6,153.1l-24.8-6.5 M541.6,153.1l-20.4,24.2 M529.2,198.2l12.4-45.1 M609,117.7l-50.7,50.7 M609,117.7l-67.4,35.4 M568.3,115.4
        l-26.7,37.7 M568.3,115.4L535,132.9 M541.6,153.1l-6.6-20.2 M541.6,153.1l50.9,4 M568.3,115.4l24.2,41.7 M541.6,153.1l16.3,15.6
         M529.2,198.2l-8-20.9"/>
        <path id="Zone_4_Africa" style="&st0;" d="M466.9,233.1c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S465.1,233.1,466.9,233.1z M465.8,249.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S464,249.9,465.8,249.9z
         M473.8,280.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S472,280.6,473.8,280.6z M498.7,262.9c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S496.9,262.9,498.7,262.9z M502.7,251.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S500.9,251.7,502.7,251.7z M527.6,258.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S525.8,258.9,527.6,258.9z M520.9,288.1c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S519.1,288.1,520.9,288.1z
         M529.2,325.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S527.4,325.6,529.2,325.6z M487.9,334.1
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S486.1,334.1,487.9,334.1z M456.8,318.6c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S455,318.6,456.8,318.6z M411.9,308.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S410.1,308.7,411.9,308.7z M427.9,273.4c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S426.1,273.4,427.9,273.4z
         M419.4,238.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S417.6,238.9,419.4,238.9z M403.9,255.2
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S402.1,255.2,403.9,255.2z M385.7,278.3c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S383.9,278.3,385.7,278.3z M378.3,301.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S376.5,301.6,378.3,301.6z M377.8,327.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S376,327.7,377.8,327.7z M424.9,343.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S423.1,343.6,424.9,343.6z
         M405.1,364.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S403.3,364.7,405.1,364.7z M445.9,359.6
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S444.1,359.6,445.9,359.6z M464.9,372.1c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S463.1,372.1,464.9,372.1z M505.7,375c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S503.9,375,505.7,375z M461.2,389.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S459.4,389.6,461.2,389.6z
         M477.3,415.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S475.5,415.7,477.3,415.7z M507.1,434.8
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S505.3,434.8,507.1,434.8z M479.4,438.4c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S477.6,438.4,479.4,438.4z M527.1,456.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S525.3,456.7,527.1,456.7z M470.9,454c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S469.1,454,470.9,454z M541.7,488.3c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S539.9,488.3,541.7,488.3z
         M483.4,478.8c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S481.6,478.8,483.4,478.8z M512.9,491.1
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3c-1.8,0-3.3-1.5-3.3-3.3S511.1,491.1,512.9,491.1z M482.7,499.3c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S480.9,499.3,482.7,499.3z M523.6,518.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S521.8,518.6,523.6,518.6z M496.4,526.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S494.6,526.9,496.4,526.9z M555.9,477.5c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S554.1,477.5,555.9,477.5z
         M549.1,462.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S547.3,462.9,549.1,462.9z M568.7,447.4
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S566.9,447.4,568.7,447.4z M598.1,435c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S596.3,435,598.1,435z M593.5,470.3c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S591.7,470.3,593.5,470.3z M581,451.5c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S579.2,451.5,581,451.5z
         M578.6,488.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S576.8,488.2,578.6,488.2z M542,409.8c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S540.2,409.8,542,409.8z M552.5,383.5c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S550.7,383.5,552.5,383.5z M563,403.3c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S561.2,403.3,563,403.3z
         M589.6,372.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S587.8,372.6,589.6,372.6z M605.4,336.7
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S603.6,336.7,605.4,336.7z M581,343.3c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S579.2,343.3,581,343.3z M580.8,331.4c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S579,331.4,580.8,331.4z M559.5,320.4c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S557.7,320.4,559.5,320.4z
         M419.5,242.6l8.4,34.2 M419.5,242.6l47.5-6.2 M466,253.1l1-16.7 M466,253.1l7.8,30.8 M498.7,266.2l-24.9,17.7 M498.7,266.2
        L466,253.1 M498.7,266.2l4-11.2 M527.6,262.1l-24.9-7.1 M527.6,262.1l-28.9,4.1 M543,270.7l-44.3-4.5 M543,270.7l-22.1,20.7
         M543,270.7l-13.8,58.2 M543,270.7l16.5,53 M498.7,266.2l22.2,25.2 M529.2,328.9l-8.3-37.5 M488,337.4l32.9-46 M488,337.4
        l-14.2-53.5 M456.7,321.8l17.1-37.9 M456.7,321.8l31.3,15.6 M529.2,328.9l-41.2,8.5 M529.2,328.9l-23.5,49.4 M529.2,328.9l12.8,84.2
         M529.2,328.9l30.3-5.2 M581.1,346.6l-21.6-22.9 M580.8,334.7l-21.3-11 M580.8,334.7l0.3,11.9 M605.4,340l-24.3,6.6 M605.4,340
        l-15.8,36.2 M581.1,346.6l8.5,29.6 M505.7,378.3l83.9-2.1 M505.7,378.3l-40.8-2.9 M461,392.4l3.9-17 M461,392.4l81,20.7 M477.3,419
        l64.7-5.9 M552.6,386.8L542,413.1 M552.6,386.8l16.1,63.9 M542,413.1l26.7,37.6 M527.2,460l41.5-9.3 M527.2,460l-47.8-18.1
         M477.3,419l2.1,22.9 M477.3,419l29.9,19.1 M479.4,441.9l27.8-3.8 M479.4,441.9l-8.5,15.4 M527.2,460l-56.3-2.7 M527.2,460l21.9,6.2
         M568.7,450.7l-19.6,15.5 M541.6,491.1l7.5-24.9 M541.6,491.1l14.3-10.3 M549.1,466.2l6.8,14.6 M470.9,457.3l70.7,33.8 M470.9,457.3
        l12.5,24.8 M541.6,491.1l-58.2-9 M512.9,494.4l-29.5-12.3 M512.9,494.4l28.7-3.3 M512.9,494.4l10.7,27.5 M541.6,491.1l-18,30.8
         M482.7,502.6l40.9,19.3 M496.4,530.3l27.2-8.4 M496.4,530.3l-13.7-27.7 M512.9,494.4l-30.2,8.2 M483.4,482.1l-0.7,20.5
         M580.8,454.8l-2.2,36.8 M580.8,454.8l17.3-16.4 M593.5,473.6l4.6-35.2 M593.5,473.6l-12.7-18.8 M593.5,473.6l-14.9,18 M505.7,378.3
        l-44.3,14.8 M477.3,419l-15.9-25.9 M477.3,419l28.4-40.7 M507.2,438.1l-1.5-59.8 M542,412.7l-36.3-34.4 M563,406.5l-57.3-28.2
         M563,406.5l26.6-30.3 M466,253.1l-38.1,23.7 M467,236.4l-39.1,40.4 M467,236.4l-63.1,22.1 M419.4,242.2l-15.5,16.3 M427.9,276.8
        l-24-18.3 M385.7,281.6l18.2-23.1 M385.7,281.6l42.2-4.8 M411.9,312.1l16-35.3 M411.9,312.1l-26.2-30.5 M411.9,312.1l-33.6-7.2
         M385.7,281.6l-7.4,23.3 M377.8,331l0.5-26.1 M377.8,331l47.1,15.9 M405.1,368l19.8-21.1 M405.1,368l-27.3-37 M405.1,368l40.8-5.1
         M488,337.4l-42.1,25.5 M488,337.4l-23.1,38 M445.9,362.9l19,12.5 M445.9,362.9l10.8-41.1 M424.9,346.9l31.8-25.1 M424.9,346.9
        l21,16 M424.9,346.9l-13-34.8 M424.9,346.9l-46.6-42 M424.9,346.9l3-70.1"/>
        <path id="Zone_8_LATAM" style="&st0;" d="M219.7,345.2l-26.3-8 M219.7,345.2l19.6,19.2 M200.6,363l38.7,1.4 M200.6,363l19.1-17.8
         M171.3,372.9l48.4-27.7 M171.3,372.9l4.3-19 M171.3,372.9l-12.7,31.2 M180,446.3l-21.4-42.2 M180,446.3l-8.7-73.4 M180,446.3
        l11.1-55.5 M180,446.3l50.3,1.8 M180,446.3l31.7-30.9 M230.3,448.1l-18.6-32.7 M258.9,431.8l-47.2-16.4 M191.1,390.8l20.6,24.6
         M191.1,390.8l67.8,41 M242.2,386.7l16.7,45.1 M242.2,386.7l-51.1,4.1 M242.2,386.7l-2.9-22.3 M242.2,386.7l10-22.2 M258.9,431.8
        l-6.7-67.3 M265.7,387.2l-13.5-22.7 M265.7,387.2l-6.8,44.6 M265.7,387.2l23.2,52.8 M265.7,387.2l20.8,12.8 M288.9,440l-2.4-40
         M303.5,452.5l-17-52.5 M306.6,407.1l-20.1-7.1 M306.6,407.1L288.9,440 M306.6,407.1l-3.1,45.4 M306.6,407.1l9.7,18.1 M288.9,440
        l27.4-14.8 M288.9,440l-24.7,27.8 M258.9,431.8l5.3,36 M258.9,431.8l-24,86.1 M258.9,431.8l-33,54.3 M258.9,431.8l-28.6,16.3
         M199.1,461.2l31.2-13.1 M199.1,461.2L180,446.3 M199.1,461.2l26.8,24.9 M274,494.6l-48.1-8.5 M274,494.6l29.4-42.5 M297.1,477.8
        l6.3-25.7 M297.1,477.8L274,494.6 M263.2,528.9l10.8-34.3 M263.2,528.9l-37.3-42.8 M204.1,510.9l21.8-24.8 M204.1,510.9l-5-49.7
         M204.1,510.9l30.8,7 M225.9,486.1l9,31.8 M263.2,528.9l-28.3-11 M253.7,543.7l-18.8-25.8 M253.7,543.7l9.5-14.8 M253.7,543.7
        l-17,26.7 M234.9,517.3l1.8,53.1 M234.9,517.3l-30.7,26.1 M204.1,510.9l0.1,32.5 M236.7,570.4l-32.5-27 M236.7,570.4L218.6,593
         M204.2,543.4l14.4,49.6 M237.6,593.9l-19-0.9 M237.6,593.9l13.7,18.9 M218.6,593l32.7,19.8 M200.6,363l-25-9.1 M193.4,337.2
        l-17.8,16.7 M193.4,337.2l7.2,25.8 M193.2,334.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S191.4,334.2,193.2,334.2z
         M316.2,422c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S314.4,422,316.2,422z M288.9,436.7c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S287.1,436.7,288.9,436.7z M303.5,448.8c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S301.7,448.8,303.5,448.8z M264.2,464.5c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S262.4,464.5,264.2,464.5z M296.9,475c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S295.1,475,296.9,475z M274,491.3
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S272.2,491.3,274,491.3z M225.7,482.8c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S223.9,482.8,225.7,482.8z M204.1,507.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S202.3,507.6,204.1,507.6z M199,457.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S197.2,457.9,199,457.9z M230.3,444.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S228.5,444.7,230.3,444.7z M180,443
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S178.2,443,180,443z M286.5,396.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S284.7,396.6,286.5,396.6z M258.9,428.3c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S257.1,428.3,258.9,428.3z M234.9,514.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S233.1,514.2,234.9,514.2z
         M263.4,525.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S261.6,525.9,263.4,525.9z M253.8,540.2
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S252,540.2,253.8,540.2z M204.2,540.1c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S202.4,540.1,204.2,540.1z M236.5,567c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S234.7,567,236.5,567z M218.5,589.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S216.7,589.7,218.5,589.7z
         M237.6,590.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S235.8,590.6,237.6,590.6z M251.3,609.5
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S249.5,609.5,251.3,609.5z M220.1,341.7c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S218.3,341.7,220.1,341.7z M175.6,350.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S173.8,350.2,175.6,350.2z M200.6,359.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S198.8,359.7,200.6,359.7z M239.4,361.1c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S237.6,361.1,239.4,361.1z
         M171.1,369.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S169.3,369.6,171.1,369.6z M158.6,400.8
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S156.8,400.8,158.6,400.8z M191.1,387.5c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S189.3,387.5,191.1,387.5z M211.7,412.1c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S209.9,412.1,211.7,412.1z M242,383.4c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S240.2,383.4,242,383.4z M252.2,361.1c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S250.4,361.1,252.2,361.1z
         M265.7,383.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S263.9,383.9,265.7,383.9z M306.6,403.8
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S304.8,403.8,306.6,403.8z M306.6,403.8c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S304.8,403.8,306.6,403.8z"/>
        <path id="Zone_9_AMNord" style="&st0;" d="M115.8,315.4l-29.1-13.7 M115.8,315.4l32.7,26.9 M168.2,348.3l-19.7-6 M168.2,348.3
        l-27.3-33.8 M148.5,342.3l-7.6-27.8 M148.5,342.3l6.6-21.5 M140.9,314.5l14.2,6.3 M140.9,314.5l4.2-17.2 M111.4,292.6l33.7,4.7
         M111.4,292.6l4.4,22.8 M111.4,292.6l-24.7,9.1 M124.2,264.5l-37.5,37.2 M124.2,264.5l-12.8,28.1 M124.2,264.5l-49.7,2 M97.7,226.3
        l-23.2,40.2 M97.7,226.3l26.5,38.2 M137.9,225.1l-13.7,39.4 M137.9,225.1l19.2,33.6 M137.9,225.1l35.2,29 M168.2,281.5l4.9-27.4
         M168.2,281.5l-10.1,10.7 M187.1,300.8l-29-8.6 M187.1,300.8l17,6.1 M168.2,281.5l35.9,25.4 M168.2,281.5l18.9,19.3 M111.4,292.6
        l-36.9-26.1 M111.4,292.6l-39.8-5.9 M140.9,314.5l-69.3-27.8 M57.1,244.2l14.5,42.5 M57.1,244.2l-4.9-26 M72.5,177.9l-20.3,40.3
         M72.5,177.9l-15.4,66.3 M72.5,177.9l25.2,48.4 M89.5,129.3l8.2,97 M89.5,129.3l-17,48.6 M124.2,264.5l32.9-5.8 M173.1,254.1
        l-16,4.6 M173.1,254.1l24.2-16.4 M164.5,180.3l32.8,57.4 M164.5,180.3l8.6,73.8 M164.5,180.3L142,159.2 M164.5,180.3l43.2,35.9
         M245,201.4l-37.3,14.8 M245,201.4l22-60.9 M164.5,180.3l41.5-19.1 M267,140.5l-61,20.7 M267,140.5l-4.4-46.3 M267,140.5l-62.2-31
         M262.6,94.2l-57.8,15.3 M148.9,98.1l55.9,11.4 M148.9,98.1l24.9-7.8 M204.8,109.5l-31-19.2 M204.8,109.5L249.1,75 M231.5,94.5
        L249.1,75 M231.5,94.5l31.1-0.3 M249.1,75l13.5,19.2 M249.1,75l63.2-8.1 M287.3,76.1l25-9.2 M317.1,89.3l-4.8-22.4 M317.1,89.3
        l33.9-1.1 M364.1,67.3L351,88.2 M364.1,67.3l-51.8-0.4 M351,88.2l-38.7-21.3 M351,88.2l13.3,22.6 M351,88.2l50.3,2.8 M417.5,67.1
        L401.3,91 M417.5,67.1l-53.4,0.2 M401.3,91l-37.2-23.7 M339.7,123l24.6-12.2 M401.3,91l-37,19.8 M339.7,123l-14.8,17.5 M308.4,116.9
        l16.5,23.6 M308.4,116.9l31.3,6.1 M308.4,116.9L351,88.2 M339.7,123L351,88.2 M308.4,116.9l8.7-27.6 M173.8,90.3L249.1,75
         M285.9,115.6l-23.3-21.4 M285.9,115.6L267,140.5 M235.8,133.4L206,161.2 M235.8,133.4l-31-23.9 M206,161.2l-1.2-51.7 M206,161.2
        h38.1 M246.8,181.8l-2.7-20.6 M246.8,181.8l19,4.4 M244.1,161.2l21.7,25 M244.1,161.2l36,4.9 M235.8,133.4l44.3,32.7 M235.8,133.4
        l8.3,27.8 M137.9,225.1l4.1-65.9 M67.4,145.2l74.6,14 M67.4,145.2L39.9,139 M67.4,145.2l67.2-12.6 M108.4,110.3l26.2,22.3
         M108.4,110.3l33.6,48.9 M164.8,110.8L142,159.2 M164.8,110.8l-30.2,21.8 M137.1,105.8l-2.5,26.8 M142,159.2l-7.4-26.6 M137.1,105.8
        l-28.7,4.5 M3.2,152l36.7-13 M3.2,152l4.6-21.3 M24.9,118L7.8,130.7 M24.9,118l83.5-7.7 M65.3,101.6l43.1,8.7 M65.3,101.6L24.9,118
         M39.9,139l-32.1-8.3 M39.9,139l68.5-28.7 M168.2,281.5l-11.1-22.8 M148.4,339c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S146.6,339,148.4,339z M168.2,345c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S166.4,345,168.2,345z
         M155.1,317.5c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S153.3,317.5,155.1,317.5z M140.9,311.1
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S139.1,311.1,140.9,311.1z M145.1,294c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S143.3,294,145.1,294z M115.8,312.1c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S114,312.1,115.8,312.1z M111.6,289.3c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S109.8,289.3,111.6,289.3z
         M86.9,298.3c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S85.1,298.3,86.9,298.3z M71.6,283.3c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S69.8,283.3,71.6,283.3z M74.5,263.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S72.7,263.2,74.5,263.2z M124.1,261.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S122.3,261.2,124.1,261.2z
         M157.1,255.4c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S155.3,255.4,157.1,255.4z M173.1,250.7
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S171.3,250.7,173.1,250.7z M168.2,278.2c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S166.4,278.2,168.2,278.2z M158.1,288.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S156.3,288.9,158.1,288.9z M187.1,297.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S185.3,297.7,187.1,297.7z M204.1,303.3c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S202.3,303.3,204.1,303.3z
         M197.3,234.4c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S195.5,234.4,197.3,234.4z M137.9,221.5
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S136.1,221.5,137.9,221.5z M97.8,223c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S96,223,97.8,223z M57.5,240.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S55.7,240.9,57.5,240.9z M52.2,214.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S50.4,214.9,52.2,214.9z M72.5,174.6
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S70.7,174.6,72.5,174.6z M67.4,141.8c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S65.6,141.8,67.4,141.8z M142.4,155.8c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S140.6,155.8,142.4,155.8z M164.8,177.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S163,177.2,164.8,177.2z
         M207.7,212.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S205.9,212.9,207.7,212.9z M245.1,198.1
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S243.3,198.1,245.1,198.1z M246.6,178.5c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S244.8,178.5,246.6,178.5z M265.8,182.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S264,182.9,265.8,182.9z M206,157.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S204.2,157.9,206,157.9z M244.7,157.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S242.9,157.9,244.7,157.9z
         M280.1,162.8c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S278.3,162.8,280.1,162.8z M267,137.5c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S265.2,137.5,267,137.5z M285.9,111.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S284.1,111.9,285.9,111.9z M262.5,91.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S260.7,91.2,262.5,91.2z
         M231.5,91.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S229.7,91.2,231.5,91.2z M249.1,71.7c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S247.3,71.7,249.1,71.7z M287.3,72.8c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S285.5,72.8,287.3,72.8z M312.3,63.8c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S310.5,63.8,312.3,63.8z M364.1,64.4
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S362.3,64.4,364.1,64.4z M417.5,63.8c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S415.7,63.8,417.5,63.8z M401.3,87.9c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3S398,93,398,91.2
        S399.5,87.9,401.3,87.9z M351,84.6c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S349.2,84.6,351,84.6z M317.1,86
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S315.3,86,317.1,86z M308.6,113.5c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S306.8,113.5,308.6,113.5z M364.6,108c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S362.8,108,364.6,108z M339.6,119.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S337.8,119.7,339.6,119.7z
         M324.9,137.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S323.1,137.2,324.9,137.2z M173.8,86.9
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S172,86.9,173.8,86.9z M148.9,94.8c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S147.1,94.8,148.9,94.8z M204.8,106.5c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S203,106.5,204.8,106.5z M235.8,130.1c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S234,130.1,235.8,130.1z
         M164.8,107.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S163,107.2,164.8,107.2z M134.6,129.5c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S132.8,129.5,134.6,129.5z M137.1,102.5c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3
        s-3.3-1.5-3.3-3.3S135.3,102.5,137.1,102.5z M108.4,107.2c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3
        S106.6,107.2,108.4,107.2z M65.2,98.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S63.4,98.7,65.2,98.7z M24.9,115
        c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S23.1,115,24.9,115z M7.8,127.4c1.8,0,3.3,1.5,3.3,3.3S9.6,134,7.8,134
        s-3.3-1.5-3.3-3.3S6,127.4,7.8,127.4z M39.9,135.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S38.1,135.7,39.9,135.7z
         M3.3,148.7c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3S0,153.8,0,152S1.5,148.7,3.3,148.7z M89.5,126c1.8,0,3.3,1.5,3.3,3.3
        s-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3S87.7,126,89.5,126z"/>

        <g id="marker-position" class="marker" width="16" height="16" fill="none">
            <circle cx="0" cy="0" r="6" fill="#ff0000"/>
        </g>
        
    </svg>
</div>
