<template>
	<div id="app">

		<div class="countries-map-form">
			<multiselect
				v-model="selected"
				label="name" track-by="name"
				:multiple="true"
				:options="countries">
			</multiselect>
			<button class="button button--primary" type='button' @click="validateMap">Validate the map</button>
		</div>

		<!-- <pre>{{ selected }}</pre> -->


		<Africa v-if="title_area == 'Africa'" ref="mapafrica">
			<template slot="country-items">
				<Draggable v-for="(e, i) in selected" :key="i" v-html="e.flag" :class="e.name"/>
			</template>
		</Africa>
		<Commonwealth v-if="title_area == 'Commonwealth of Independant States'" ref="mapafrica">
			<template slot="country-items">
				<Draggable v-for="(e, i) in selected" :key="i" v-html="e.flag" :class="e.name"/>
			</template>
		</Commonwealth>
		<EastAsia v-if="title_area == 'East Asia'" ref="mapafrica">
			<template slot="country-items">
				<Draggable v-for="(e, i) in selected" :key="i" v-html="e.flag" :class="e.name"/>
			</template>
		</EastAsia>
		<Europe v-if="title_area == 'Europe'" ref="mapafrica">
			<template slot="country-items">
				<Draggable v-for="(e, i) in selected" :key="i" v-html="e.flag" :class="e.name"/>
			</template>
		</Europe>
		<NorthAmerica v-if="title_area == 'North America'" ref="mapafrica">
			<template slot="country-items">
				<Draggable v-for="(e, i) in selected" :key="i" v-html="e.flag" :class="e.name"/>
			</template>
		</NorthAmerica>
		<Oceania v-if="title_area == 'Oceania'" ref="mapafrica">
			<template slot="country-items">
				<Draggable v-for="(e, i) in selected" :key="i" v-html="e.flag" :class="e.name"/>
			</template>
		</Oceania>
		<SouthAmerica v-if="title_area == 'South America'" ref="mapafrica">
			<template slot="country-items">
				<Draggable v-for="(e, i) in selected" :key="i" v-html="e.flag" :class="e.name"/>
			</template>
		</SouthAmerica>
		<SouthAsia v-if="title_area == 'South Asia'" ref="mapafrica">
			<template slot="country-items">
				<Draggable v-for="(e, i) in selected" :key="i" v-html="e.flag" :class="e.name"/>
			</template>
		</SouthAsia>
		<WesternAsia v-if="title_area == 'Western Asia'" ref="mapafrica">
			<template slot="country-items">
				<Draggable v-for="(e, i) in selected" :key="i" v-html="e.flag" :class="e.name"/>
			</template>
		</WesternAsia>

	</div>
</template>

<script>
import axios from 'axios';
import Multiselect from 'vue-multiselect';
// import draggable from 'vuedraggable';
import Draggable from "./components/MyDraggable.vue";

import Africa from "./components/areas/MapAfrica.vue";
import Commonwealth from "./components/areas/MapCommonwealth.vue";
import EastAsia from "./components/areas/MapEastAsia.vue";
import Europe from "./components/areas/MapEurope.vue";
import NorthAmerica from "./components/areas/MapNorthAmerica.vue";
import Oceania from "./components/areas/MapOceania.vue";
import SouthAmerica from "./components/areas/MapSouthAmerica.vue";
import SouthAsia from "./components/areas/MapSouthAsia.vue";
import WesternAsia from "./components/areas/MapWesternAsia.vue";

export default {
	name: 'App',
	components: { 
		Multiselect ,
		Draggable,
		Africa, Commonwealth, EastAsia, Europe, NorthAmerica, 
		Oceania, SouthAmerica, SouthAsia, WesternAsia
	},
	data () {
		return {
			title_area: "",
			selected: [],
			countries: [],
			map_africa: ""
		}
	},
	mounted () {
		// console.log("ENV VAR: ", process.env.VUE_APP_BASE_API_URL);
		this.loadCountries();
		this.title_area = document.getElementById("edit-title-0-value").value;
		console.log(this.title_area);
	},
	methods: {
		loadCountries() {
            axios.get(process.env.VUE_APP_BASE_API_URL + '/api/countries')
                .then((response) => {
                    this.countries = response.data;
                })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
		validateMap() {
			// console.log(this.map_africa = this.$refs.mapafrica.$el.querySelector("foreignObject").outerHTML);
			this.map_africa = this.$refs.mapafrica.$el.innerHTML;
			console.log(this.map_africa);
			// this.map_africa = this.$refs.mapafrica.$el.querySelector("foreignObject").outerHTML;
			document.querySelector("#edit-field-countries-map-area-0-countries-map-svg-value").value = this.map_africa;
		}
	}
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss">
#app {
	.countries-map-form {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.multiselect { width: 30rem; }
		button { width: 14rem; }
	}
	.area-map {
		display: block;
		width: 60%;
		margin: 0 auto;
	}
}
</style>