



// Modif des layout de form admin //////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////
.layout.layout--twocol {
    justify-content: space-between;
    .layout__region {
        .chosen-container { width: 100%!important; }
        .form-element--type-select { width: 100%; }
    }
    .layout__region.layout__region--first,
    .layout__region.layout__region--second {
        flex: 0 1 48% !important;

    }
}