.layout.layout--twocol {
  justify-content: space-between;
}
.layout.layout--twocol .layout__region .chosen-container {
  width: 100% !important;
}
.layout.layout--twocol .layout__region .form-element--type-select {
  width: 100%;
}
.layout.layout--twocol .layout__region.layout__region--first,
.layout.layout--twocol .layout__region.layout__region--second {
  flex: 0 1 48% !important;
}

/*# sourceMappingURL=global.css.map */
