.entity-browser-media-directories-overview-form .browser--header,
.entity-browser-media-directories-overview-form .browser--body .browser--tree,
.entity-browser-media-directories-overview-form .browser--footer,
.entity-browser-media-directories-modal-form .browser--header,
.entity-browser-media-directories-modal-form .browser--body .browser--tree,
.entity-browser-media-directories-modal-form .browser--footer {
  background: unset;
}
.entity-browser-media-directories-overview-form .browser--body .browser--tree a.jstree-anchor,
.entity-browser-media-directories-modal-form .browser--body .browser--tree a.jstree-anchor {
  padding: 8px;
}
.entity-browser-media-directories-overview-form .browser--body .browser--tree .jstree-default .jstree-wholerow-clicked,
.entity-browser-media-directories-modal-form .browser--body .browser--tree .jstree-default .jstree-wholerow-clicked {
  background: unset;
}
.entity-browser-media-directories-overview-form .browser--body .browser--tree .jstree-default .jstree-wholerow-hovered,
.entity-browser-media-directories-modal-form .browser--body .browser--tree .jstree-default .jstree-wholerow-hovered {
  background: unset;
}
.entity-browser-media-directories-overview-form .browser--body .browser--tree .jstree-default > .jstree-wholerow-ul .jstree-hovered,
.entity-browser-media-directories-overview-form .browser--body .browser--tree .jstree-default > .jstree-wholerow-ul .jstree-clicked,
.entity-browser-media-directories-modal-form .browser--body .browser--tree .jstree-default > .jstree-wholerow-ul .jstree-hovered,
.entity-browser-media-directories-modal-form .browser--body .browser--tree .jstree-default > .jstree-wholerow-ul .jstree-clicked {
  background: #3b3b3f;
  color: white;
}
.entity-browser-media-directories-overview-form .browser--body .browser--tree .jstree-default .jstree-node,
.entity-browser-media-directories-modal-form .browser--body .browser--tree .jstree-default .jstree-node {
  line-height: 34px;
}
.entity-browser-media-directories-overview-form .browser--body .browser--tree .jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl,
.entity-browser-media-directories-modal-form .browser--body .browser--tree .jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl {
  background-position: -4px 3px;
}
.entity-browser-media-directories-overview-form .browser--body .browser--tree .jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl,
.entity-browser-media-directories-modal-form .browser--body .browser--tree .jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl {
  background-position: -37px 4px;
}
.entity-browser-media-directories-overview-form .browser--body .browser--listing .media-item .views-field.views-field-bundle,
.entity-browser-media-directories-modal-form .browser--body .browser--listing .media-item .views-field.views-field-bundle {
  text-align: center;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
