$bleu: #90aeef;
$gris: #3b3b3f;


//.wrapper-admin {
//    display: flex;
//
//    .contenu-admin {
//        width: 100%;
//    }
//}


// ################################################################################################################## //
// CORRECTIONS DES DEFAUTS DU THEME GIN :
// ################################################################################################################## //

// Corrige le pb de couleur bleu foncé du thème parent claro dans les fieldset
//fieldset {
//    color: #ccc !important;
//}

// supprime le border autour des images dans le navigateur de media
//.gin-entity-browser .entity-browser-form .views-row {
//    border: none;
//}


// LIBRAIRIE DE MEDIA --------------------------------------------------------------------------------------------------

// Media Grid :
//.media-library-item--grid:before {
//    box-shadow: unset !important;
//}

// ################################################################################################################## //


// ################################################################################################################## //
// CORRECTIONS MEDIA BROWSER DIRECTORIES :
// ################################################################################################################## //
//body.gin--dark-mode {
//
//}
.entity-browser-media-directories-overview-form,
.entity-browser-media-directories-modal-form {
    .browser--header,
    .browser--body .browser--tree,
    .browser--footer {
        background: unset;
    }
    .browser--header {}
    .browser--body {
        .browser--tree {

            a.jstree-anchor { padding: 8px; }
            .jstree-default .jstree-wholerow-clicked { background: unset; }
            .jstree-default .jstree-wholerow-hovered { background: unset; }
            .jstree-default>.jstree-wholerow-ul .jstree-hovered,
            .jstree-default>.jstree-wholerow-ul .jstree-clicked { background: $gris; color: white; }
            .jstree-default .jstree-wholerow-hovered {}
            .jstree-default .jstree-node { line-height: 34px; }

            // position des icones ouvert & fermé des dossiers
            .jstree-default>.jstree-no-dots .jstree-closed>.jstree-ocl { background-position: -4px 3px; }
            .jstree-default>.jstree-no-dots .jstree-open>.jstree-ocl { background-position: -37px 4px; }

        }
        .browser--listing {
            .media-item {
                .views-field.views-field-bundle {
                    text-align: center;
                    font-size: 12px;
                }
            }
        }
    }
    .browser--footer {}
}
// modals ---------------------------------------------------------------------------------------------
//.ui-dialog.entity-browser-modal.ui-widget.ui-widget-content.ui-front.ui-draggable { box-shadow: unset; }
//.gin-entity-browser .entity-browser-form .views-row { border-radius: unset!important; }
//.gin-entity-browser .entity-browser-form .views-field-thumbnail__target-id {
//    border: inherit !important;
//    border-radius: unset !important;
//}

// ################################################################################################################## //


// ################################################################################################################## //
// FIX CROP AREA :
// ################################################################################################################## //
//.image-data__crop-wrapper {
//    .vertical-tabs {
//        ul.vertical-tabs__menu {
//            width: 100%;
//
//            li.vertical-tabs__menu-item {
//                &:after, &:before {
//                    content: none;
//                }
//
//                margin: 0;
//            }
//        }
//
//        .vertical-tabs__items {
//            margin: 13rem 0 0;
//        }
//    }
//}
// ################################################################################################################## //


// ################################################################################################################## //
// CORRECTIONS DISPOSITION CHAMPS AVEC LE MODULE FIELD_LAYOUT :
// ################################################################################################################## //

// LAYOUT TWO COLUMN
//.layout.layout--twocol {
//    &-section--50-50 {
//        flex-wrap: nowrap;
//        .layout__region {
//            //&--first, &--second { flex: 0 1 48%; }
//            &--first { margin-right: 1rem; }
//            &--second { margin-left: 1rem; }
//        }
//    }
//    .layout__region {
//        //flex-wrap: nowrap;
//        &--first, &--second { flex: 0 1 48%; }
//        &--first { margin-right: 1rem; }
//        &--second { margin-left: 1rem; }
//    }
//}
